/* css styles */
.navbar-dark, .quarto-title-banner {
  background-color: #f7f9fa;
}

body {
    background-color: #bac7d6;
}

h1.title {
  color: #0494db;
}


h2.anchored {
  color: #0494db;
}


a.quarto-xref {
  color: #4563d9;
}

a {
  color: #d4630d ;
}


